    <h1>Cenit AG (Stuttgart, November 2018 - until today) - Employee</h1>
    <h2>Software developer for Fastsuite E2, an Offline Programming and Simulating solution.</h2>
    <p>I'm responsible for usability and User Interface Design, but in reality I work full stack. I'm engaged in software architecture and UI design decisions.</p>
    <p>[C# .NET, C++, WPF, XAML. Jenkins, GIT, Microsoft Azure]</p>

    <h1>Trumpf Gmbh (Stuttgart, April - October 2018) - External consultant</h1>
    <h2>Software developer for a visualizing and preparation solution of Additive Manufacturing pieces.</h2>
    <p>Here I learned MVVM and worked full stack. The team used SCRUM and the reviews and code style were strict. I had to write tests for every piece of code I wrote.</p>
    <p>[C# .NET, WPF, XAML. Jira+Confluence, Perforce, TeamCity]</p>

    <h1>The Robot Academy (Seville, February - April 2018) - Practicant</h1>
    <h2>Software developer in ROS, preparation of didactic material.</h2>
    <p>I developed programs and used my knowledge to create courses for teaching ROS to the wide public.</p>
    <p>[C++, Microcontrollers, Arduino, ROS]</p>
    
    <hr/>
<footer>
    <p>&copy; Luis García Montañés | 2021 </p>
  </footer>