<section class="introduction-section">
    <h1>Introduction</h1>
    <p>Hi! Glad to see you here! My name is Luis.</p>
    <p>I am a robotics and electronics engineer, who works as a software developer.</p>
    <p>I love coding, technology, and making music.</p>
</section>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p>I'm originally from Sevilla, Spain.</p>
</section>
<section class="questions-section">
    <h2>Where do you live?</h2>
    <p>I'm currently living in Degerloch, and I've been living in Stuttgart since I came to Germany in April of 2018.</p>
    <h2>What are your hobbies?</h2>
    <p>I'm a musician and composer. I'm also into criptocurrency and personal finance. I also used to build and fly drones with first person view.</p>
    <h2>What languages do you speak?</h2>
    <p>Natürlich, da ich seit 3 Jahren in Deutschland bin, spreche ich gerne Deutsch. Mein tägliches Leben spielt sich darin ab!</p>
    <p>And it's funny that many people assume English is my mother tongue. I've been speaking it since I was less than 1 meter tall.</p>
    <p>En realidad, mi lengua materna real es el Español, en concreto Castellano, o sea, el de España.</p>
    <p>J'ai étudié trois ans français à l'école, mais je me souviens de peux. Un jour, je m'y remettrai !</p>
</section>

<hr/>

<footer class="content-footer">
    <h2>Let's connect in social networks:</h2>
    <ul class="social">
        <li><a href="https://github.com/LewisGRobotics">GitHub</a></li>
        <li><a href="https://www.xing.com/profile/Luis_GarciaMontanes">Xing</a></li>
        <li><a href="https://www.linkedin.com/in/luis-garcía-montañés-48bb7b16a">LinkedIn</a></li>
    </ul>
  
</footer> 
<footer>
  <p>&copy; Luis García Montañés | 2021 </p>
</footer>