<table class="table">
    <tr>
        <th>Programming languages</th>
    </tr>
    <tr>
        <td>C#  </td>
        <td>Professional</td>
    </tr>
    <tr>
        <td>WPF/XAML</td>
        <td>Professional</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>C++</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>Powershell</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>Python</td>
        <td>Basic knowledge</td>
    </tr>
    <tr>
        <td>Javascript</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Typescript</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>CSS</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>HTML</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Matlab</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <th>Libraries and services</th>
    </tr>
    <tr>
        <td>React  </td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Spring boot</td>
        <td>Basic knowledge</td>
    </tr>
    <tr>
        <td>PostgresSQL</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>Firebase/Google cloud</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>FakeItEasy</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Simulink</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>Unity</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <th>Frameworks</th>
    </tr>
    <tr>
        <td>Angular  </td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>ASP/.Net boot</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Xamarin</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Node</td>
        <td>Competent</td>
    </tr>
    <tr>
        <td>Spring framework</td>
        <td>Basic knowledge</td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <th>Version control</th>
    </tr>
    <tr>
        <td>Perforce  </td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>GIT</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Tortoise SVN</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <th>Continuous integration</th>
    </tr>
    <tr>
        <td>Team city  </td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Jenkins</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <th>Organization and documentation</th>
    </tr>
    <tr>
        <td>Jira / Confluence</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Microsoft Azure</td>
        <td>Advanced</td>
    </tr>
</table>