<section class="questionsAndAnswers">

    <h1>What are your strengths?</h1>
    <p>I’m a curious person, and that drives me to constantly learn new things and surpass obstacles.</p>
    <p>I’m also a sociable person, and I support others when they need help and I’m also not afraid to ask questions to somebody who understands something better than me.</p>

    <h1>What are your weaknesses?</h1>
    <p>I get upset having to redo my work because of poorly specified features or because the person asking for the task doesn’t know what he wants, and changes the specification after several weeks of work.</p>
    <p>To avoid this situation, I try to ask questions and define precisely what is wanted, and if necessary, start a brainstorming session about other ways the implementation could look like, in such a way that the person making the specification doesn’t feel like his ideas are being attacked.</p>
    <p>Also, this is avoided by a correct implementation of SCRUM or other agile development methodologies, of whom I'm a big supporter.</p>

    <h1>How do you handle pressure?</h1>
    <p>I think there’s a healthy amount of pressure that helps you be more active and focus. When this happens, I like to be resilient and use it to push me forward.</p>
    <p>On the other hand, if there is heavy pressure which is persistent, people get demotivated. Then I deal with it by trying to discuss why this pressure is there and how we can mitigate it.</p>

    <h1>What can you offer us that someone else can not?</h1>
    <p>I'm an engineer with knowledge in electronics and robotics, with working experience specifically in the area of software for manufacturing and industrial machinery.</p>
    <p>I'm versatile and adaptable. I’m good at focusing on the problem in front of myself and using it to learn, instead of just being good at one thing, and everything else is "not my area".</p>
    <p>I'm resilient. I’m good at focusing on the problem in front of myself and using it to learn and grow. You will very rarely hear me complaining or saying "I can't do that".</p>
    <p></p>
</section>

 
<footer>
    <p>&copy; Luis García Montañés | 2021 </p>
  </footer>