:root {
    --nicewhite: #ffffff;
    --niceblue: #1f6f8b;
    --nicegrey: #99a8b2;
    --nicebrown:#e6d5b8;
    --niceblack: #1C2B2D;
	--nicepurple: #51338a;
  
    
    --nicedarkbrown:#665538;
    --nicered: #8b1f2d;
    --nicegreen: #1f8b2d;
}

.headerImage{
	width: 95vw;
	max-width: 1220px;
}

.routerButtons{
	margin: 5px;
	width: 100vw;
}

.routerButton{
    display: inline-block;
	font-family: "poppins-bold", sans-serif;
	font-size: 1.65rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
	height: 6vh;
	line-height: 6vh;
	padding: 0 1.5rem;
	margin: 0 1rem 2vh 0;
	background: #29195e;
	color: #eeeeee;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}