<body>
  <img class="headerImage" src="https://github.com/LewisGRobotics/MyNameIsLuis/blob/main/hello-world-pic.png?raw=true">
  <div class="routerButtons">
    <a routerLink='/' class="routerButton">Home</a>
    <a routerLink='/experience' class="routerButton">Experience</a>
    <a routerLink='/software' class="routerButton">Software</a>
    <a routerLink='/q-and-a' class="routerButton">Q&A</a>
    <a routerLink='/contactme' class="routerButton">Contact me</a>
  </div>
  
  <router-outlet></router-outlet>
  
  <hr/>
  <footer>
    <p>&copy; Luis García Montañés | 2021 </p>
  </footer>
</body>
